# 修改TNAME: MI-R4A中的MI-R4A为你需要编译的型号，注意名称要与configs/templates/目录下的名字相同
name: Build MI-R4A Padavan4.4

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Build Padavan"
        required: true
        default: "build"
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-20.04
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt-get update
        sudo apt-get -y install unzip libtool-bin curl cmake gperf gawk flex bison nano xxd fakeroot \
        cpio git python-docutils gettext automake autopoint texinfo build-essential help2man \
        pkg-config zlib1g-dev libgmp3-dev libmpc-dev libmpfr-dev libncurses5-dev libltdl-dev wget
    - name: Clone source code
      run: |
        git clone --depth=1 https://github.com/jinenge/padavan-4.4.git  /opt/rt-n56u
        cd /opt/rt-n56u/toolchain-mipsel
        sh dl_toolchain.sh
        mkdir -p /opt/images/
    - name: Build Firmware
      env:
        TNAME: MI-R4A
      run: |
        cd /opt/rt-n56u/trunk
        if [ ! -f configs/templates/$TNAME.config ] ; then
        echo "configs/templates/$TNAME.config not found "
        exit 1
        fi
        cp -f configs/templates/$TNAME.config .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n/CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y/g' .config
        ################################################################################################
        # 禁用所有插件，创建纯净AP版本
        ################################################################################################
        # 先确保所有插件配置项都被设置为n
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=y/CONFIG_FIRMWARE_INCLUDE_DNSFORWARDER=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_MENTOHUST=y/CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=y/CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_SRELAY=y/CONFIG_FIRMWARE_INCLUDE_SRELAY=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y/CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_XRAY=y/CONFIG_FIRMWARE_INCLUDE_XRAY=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_V2RAY=y/CONFIG_FIRMWARE_INCLUDE_V2RAY=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_TROJAN=y/CONFIG_FIRMWARE_INCLUDE_TROJAN=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_SSOBFS=y/CONFIG_FIRMWARE_INCLUDE_SSOBFS=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_ADBYBY=y/CONFIG_FIRMWARE_INCLUDE_ADBYBY=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_ADGUARDHOME=y/CONFIG_FIRMWARE_INCLUDE_ADGUARDHOME=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_SMARTDNS=y/CONFIG_FIRMWARE_INCLUDE_SMARTDNS=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_ZEROTIER=y/CONFIG_FIRMWARE_INCLUDE_ZEROTIER=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_ALIDDNS=y/CONFIG_FIRMWARE_INCLUDE_ALIDDNS=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_DDNSTO=y/CONFIG_FIRMWARE_INCLUDE_DDNSTO=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_DDNSGO=y/CONFIG_FIRMWARE_INCLUDE_DDNSGO=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y/CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_CLOUDFLARE=y/CONFIG_FIRMWARE_INCLUDE_CLOUDFLARE=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_ALDRIVER=y/CONFIG_FIRMWARE_INCLUDE_ALDRIVER=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_FTPD=y/CONFIG_FIRMWARE_INCLUDE_FTPD=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_ALIST=y/CONFIG_FIRMWARE_INCLUDE_ALIST=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_SQM=y/CONFIG_FIRMWARE_INCLUDE_SQM=n/g' .config
        sed -i 's/CONFIG_FIRMWARE_INCLUDE_OC=y/CONFIG_FIRMWARE_INCLUDE_OC=n/g' .config
        
        # 确保所有插件都被禁用
        grep -q "CONFIG_FIRMWARE_INCLUDE_.*=y" .config && sed -i '/CONFIG_FIRMWARE_INCLUDE_/s/=y/=n/g' .config || true
        
        sudo ./clear_tree
        sudo ./build_firmware_modify $TNAME 0
        sudo mv -f images/*.bin /opt/images/
    - name : Upload packages
      uses: actions/upload-artifact@master
      if: always()
      with:
        name: Padavan-MI-R4A-jinenge
        path: /opt/images
